h2 Subir archivo
form(class="form-step-1" id="formStep1")
  input(type="file" name="file" id="uploader" accept="text/plain" enctype="multipart/form-data")
  button(type="submit" class="btn disabled") Subir
