h2 Analizar archivo
p Ingrese la palabra clave por la cual se estarán separando las columnas, puede ser de un signo hasta una palabra.
form(class="form-step-2" id="formStep2")
  input(type="text" id="keyword" placeholder="Ingresa palabra clave" autofocus autocomplete="off")
  button(type="submit" class="btn disabled") ANALIZAR