h3 Establecer columnas y filtrar

h4 Nombres de columnas
ol(id="columns" class="columns")

input(type="text" id="newColumn" placeholder="Ingresa nombre de nueva columna")

h4 Filtrar columnas
select(id="selectColumns" class="select-columns")
  option(value="" disabled selected) Seleccionar columna

h4 Columnas filtradas
ol(id="filterColumns" class="filter-columns")