<!DOCTYPE html>
html(lang="es")
  include includes/_head.pug
  body
    section.container
      h2.title Sanitize database
      h3.step-text Paso #[span(id="stepLabel")] de #[span 4]
      .stepper
        .step.step-1.active
          include includes/step-1.pug
        .step.step-2
          include includes/step-2.pug
        .step.step-3
          include includes/step-3.pug
        .step.step-4
          include includes/step-4.pug
      .controls
        button(type="button", class="btn btn-small", id="prevBtn") Prev
        button(type="button", class="btn btn-small secondary", id="nextBtn") Next
    include includes/_script.pug